@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --Red: crimson;
  --Dark: #222a35;
  --text-white: white;
  --text-dark: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: gray;
}

/* Resume Generator */
.generate-Resume {
  position: relative;
  max-width: 900px;
  min-height: 1100px;
  display: flex;
  margin-top: 2rem;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

/* Resume Left Portion for About Me, Personal Info, Languages ETC. */
.left-Portion {
  color: var(--text-white);
  width: 35%;
  margin-left: 2rem;
  background-color: var(--Dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Profile Image */
img {
  z-index: 9999;
  width: 80%;
  margin-top: 7rem;
  border: 3px solid var(--Red);
  border-radius: 50%;
}

/* Name & Designation */
.section-Name {
  width: 100%;
  margin-top: 10rem;
  padding: 2rem;
  padding-left: 43%;
  position: absolute;
  background-color: var(--Red);
  color: var(--text-white);
}

/* Name & Designation for Media*/

.section-NameMedia {
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  padding: 3rem 1.5rem;
  background-color: var(--Red);
}
.name {
  line-height: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.designation {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  font-weight: 300;
}

/* About Me */
.heading-AboutMe {
  margin: 3rem 0rem 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  font-weight: 500;
}
.para-AboutMe {
  width: 80%;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 3.5rem;
}

/* Contact Info */
.contact-Sec {
  margin-bottom: 2.5rem;
}
.contact-Info {
  display: flex;
  margin-bottom: 1rem;
}
.info-Icon {
  background-color: var(--Red);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 0.5rem;
  font-size: 0.7rem;
}
.info-Text {
  font-size: 0.9rem;
  font-weight: 300;
}

/* Languages Known */
.languages-Sec {
  width: 70%;
  padding: 6px;
  border-radius: 25px;
  text-align: center;
  color: var(--Red);
  background-color: var(--text-white);
  margin-bottom: 1rem;
}
.heading-Language {
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
.languages-List {
  width: 50%;
  margin-bottom: 3rem;
}
.list {
}

/* Expertise Known */
.expertise-Sec {
  width: 70%;
  padding: 6px;
  border-radius: 25px;
  text-align: center;
  color: var(--Red);
  background-color: var(--text-white);
  margin-bottom: 1rem;
}
.heading-Expertise {
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
.expertise-list {
  width: 50%;
  margin-bottom: 3rem;
}
/* Resume Right Portion for Experience, Education & Skills */
.right-Portion {
  width: 55%;
  background-color: #7dd681;
}

/* Responsive Setup */
@media screen and (max-width: 700px) {
  /* Resume Generator */
  .generate-Resume {
    display: block;
  }

  /* Resume Left Portion */
  .left-Portion {
    width: 85%;
    margin: 0px auto;
  }

  /* Profile Image */
  img {
    width: 70%;
  }
  /* Name & Designation */
  .section-Name {
    display: none;
  }
  .section-NameMedia {
    display: flex;
  }

  /* Resume Right Portion */
  .right-Portion {
    width: 100%;
  }
  /* Languages Known */
  .languages-Sec {
    width: 60%;
  }
  .languages-List {
    width: 40%;
  }
  /* Expertise Known */
  .expertise-Sec {
    width: 60%;
  }
  .expertise-list {
    width: 40%;
  }
}
